<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.borbi.ots" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/title"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".data.OTSProvider"
            android:authorities="br.borbi.ots.app" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".FiltersActivity"
            android:label="@string/title_activity_filtros" >
        </activity>
        <activity
            android:name=".ResultCitiesActivity"
            android:label="@string/result_citites_activity" android:parentActivityName=".ResultActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.borbi.ots.ResultActivity" />
        </activity>

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"  android:parentActivityName=".FiltersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.borbi.ots.FiltersActivity" />>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" android:parentActivityName=".FiltersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.borbi.ots.FiltersActivity" />
        </activity>
        <activity
            android:name=".FailureActivity"
            android:label="@string/title_activity_failure"
            android:parentActivityName=".FiltersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.borbi.ots.FiltersActivity" />
        </activity>
    </application>

</manifest>
