<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.borbi.ots" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/title"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />


        <provider
            android:name=".data.OTSProvider"
            android:authorities="br.borbi.ots.app" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FiltersActivity"
            android:label="@string/title_activity_filtros"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ResultCitiesActivity"
            android:label="@string/result_citites_activity"
            android:parentActivityName=".ResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.borbi.ots.ResultActivity" />
        </activity>

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title"
            android:noHistory="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".FiltersActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.borbi.ots.FiltersActivity" />
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result"
            android:parentActivityName=".FiltersActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.borbi.ots.FiltersActivity" />
        </activity>
        <activity
            android:name=".FailureActivity"
            android:label="@string/title_activity_failure"
            android:parentActivityName=".FiltersActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.borbi.ots.FiltersActivity" />
        </activity>
        <activity
            android:name=".DetailCityActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ResultCitiesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.borbi.ots.ResultCitiesActivity" />
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

    </application>

</manifest>
